form {
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-div {
  padding: 2rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

form label {
  margin-top: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

form input {
  padding: 0 0.5rem;
  margin-top: 4px;
  margin-bottom: 1.5rem;
  height: 2.125rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-color: rgb(105, 102, 102);
}

.form-btn {
  margin-bottom: 2rem;
  height: 2.125rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffa703;
  cursor: pointer;
}

form button:hover {
  background-color: #ee9b00;
}

form div.error {
  color: red;
  margin-top: 10px;
  font-size: 0.875rem;
}
