.search-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.label {
  margin-right: 10px;
}

.search-input {
  margin: 1rem 1rem 1rem 0;
  height: 2.5rem;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0.83rem;
  font-size: 1rem;
  box-sizing: border-box;
  border-color: rgb(105, 102, 102);
}

.search-button {
  height: 2.5rem;
  width: 33.34%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.83rem;
}

.search-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.search-result {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.remove-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  color: black;
  min-width: 64px;
  border-radius: 5px;
  background-color: #ffa703;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  cursor: pointer;
  border: none;
}

.removebtn {
  margin-left: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
}
