.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  margin: 0;
}
