/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Quicksand", sans-serif;
  background: #fff8e8;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 8px;

  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  color: black;
  min-width: 64px;
  border-radius: 5px;
  background-color: #f97b22;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #fbb034;
}
